pom.dtd

<!ELEMENT project (modelVersion,groupId,artifactId,version,properties)>
<!ELEMENT modelVersion (#PCDATA)>
<!ELEMENT groupId (#PCDATA)>
<!ELEMENT artifactId (#PCDATA)>
<!ELEMENT version (#PCDATA)>
<!ELEMENT properties (maven.compiler.source,maven.compiler.target)>
<!ELEMENT maven.compiler.source (#PCDATA)>
<!ELEMENT maven.compiler.target (#PCDATA)>